<!DOCTYPE html>
<html>
<head>
  <title>Messages App</title>
  <style>
    [v-cloak] {display: none;}
    body > div {width: 500px; margin: 0 auto;}
    textarea {width: 100%;}
    ul {padding: 0 15px;}
  </style>
</head>
<body>
  <div id="app" v-cloak>
    <ul>
      <li v-for="message in messages">
        {{ message.text }} - {{ message.createdAt }} 
        <button @click="deleteMessage(message)">X</button>
      </li>
    </ul>    
    <form @submit.prevent="addMessage">
      <textarea v-model="newMessage" placeholder="Leave a message">        
      </textarea>
      <div><button v-bind:disabled="addDisabled" type="submit">Add</button></div>
    </form>
  </div>
  <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        messages: [],
        newMessage: ''
      }, 
      computed: {        
        addDisabled () {
          return this.messages.length >= 10 || this.newMessage.length > 50
        }
      },
      methods: {
        addMessage (event) {
          if (!this.newMessage) return
          this.messages.push({text: this.newMessage, createdAt: new Date()})
          this.newMessage = ''
        },
        deleteMessage (message) {
          this.messages.splice(this.messages.indexOf(message), 1)
        }
      }
    })
  </script>
</body>
</html>